.exercise-container {
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 5px 0
}

.set {
    display: flex;
}

.set p {
    margin-right: 10%;
}

.set-control-container {
    display: flex;
    border-bottom: 1px grey solid;
    padding-bottom: 5px;
}

.set-control {
    padding: 2px;
    display: flex;
    align-items: center;
}

.cardio-container {
    margin: 5px 0;
}